@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');


.header {
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo img{
    width: 100px;
   
    
}

.logo h3{
    font-weight: 400;
    font-size: 40px;
    color: #545353;
}