@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');


.header {
    
    font-family: 'Nanum Gothic', sans-serif;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo img{
    width: 100px;
   
    
}

.logo h3{
    font-weight: 400;
    font-size: 40px;
    color: #545353;
}
.header-text{
   background-image: url('../../images/background\ of\ audi\ car\ lovers\ fit.jpg');
   background-size: cover;
   color:white; 
   padding-top: 80px;
   padding-bottom: 450px;
    
}
.header-text h3{
    font-weight:bold;
    
}
.header-text h1{
    font-weight: 400;
    color:white;
}